.cart-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 100px;
  background-color: #f8f9fa;
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.cart-item-card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.cart-item-image {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.cart-item-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.cart-item-text {
  font-size: 1rem;
  color: #007bff;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #F2D8A7 !important;
  border-color: #F2D8A7 !important;
  color: black !important;
}

.quantity-number {
  font-size: 1.2rem;
  font-weight: bold;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.total-container h4 {
  font-weight: bold;
  color: #333;
}

.total-button {
  background-color: #F2D8A7 !important;
  border-color: #F2D8A7 !important;
  color: black !important;
}

.total-button:hover {
  background-color: #e6c08c !important;
  border-color: #e6c08c !important;
}

.custom-danger {
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
  color: white !important;
}

.custom-danger:hover {
  background-color: #c0392b !important;
  border-color: #c0392b !important;
}

.custom-success {
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
  color: white !important;
}

.custom-success:hover {
  background-color: #27ae60 !important;
  border-color: #27ae60 !important;
}
