<div class="container mt-2">
    <div class="row align-items-center">
        <div class="col-md-6 p-5" style="background: linear-gradient(to right, #6a11cb, #2575fc);">
            <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi  bi-camera" viewBox="0 0 16 16">
              <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
              <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
            </svg>
        </div>
        <div class="col-md-6 p-5 bg-dark text-white">
    <form action="/products" method="POST">
        <h4 class="mb-3">Subir Producto</h4>
        <div class="mb-3">
            <label for="productName" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="productName" name="title" placeholder="Introduce el nombre">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Precio</label>
            <input type="text" class="form-control" id="productPrice" name="price" placeholder="Precio en USD">
        </div>
        <div class="mb-3">
            <label for="productCategory" class="form-label">Categoría</label>
            <select class="form-select" id="productCategory" name="category">
                <option selected>Elige una categoría</option>
                <option value="Ropa">Ropa</option>
                <option value="Calzado">Calzado</option>
                <option value="Accesorios">Accesorios</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="productStock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="productStock" name="stock" placeholder="Cantidad disponible">
        </div>
        <button type="reset" id="createProduct" class="btn btn-primary">Subir Producto</button>
    </form>
</div>
        </div>
    </div>
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation">
    <a href="/products"><button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">todos</button></a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="/products/?category=Ropa"><button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Ropa</button></a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="/products/?category=Calzado"><button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Calzado</button></a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="/products/?category=Accesorios"><button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Accesorios</button></a>
  </li>

</ul>
<h1 class="text-center p-4">Lista de Productos</h1>
<div class="container-xl mt-4">
    <div id="productList" class="row row-cols-1 row-cols-md-4 g-4">
        
        
    </div>
</div>
   <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const socket = io();
  socket.on("products", data => {
    const template = data.map(product =>`
    <div  class="col">
    <div class="card h-100 bg-dark text-white">
                <img src="https://files.cdn.printful.com/o/upload/bfl-image/42/11354_l_t-shirt-Design-Examples-mockup_Art-with-text.png" class="card-img-top" alt="{{title}}">
                <a class="text-decoration-none text-white" href="/products/${product.id}">
                    <div class="card-body">
                        <h5 class="card-title">${product.title}</h5>
                        <p class="card-text">Categoría: ${product.category}</p>
                        <p class="card-text">Precio: $ ${product.price}</p>
                        <p class="card-text">Stock: ${product.stock}</p>
                    </div>
                </a>
            </div>
            </div>
    `).join("")
    document.querySelector("#productList").innerHTML = template;
   
  });
  document.querySelector("#createProduct").addEventListener("click",(event) => {
    const title =document.querySelector("#productName").value
    const price =document.querySelector("#productPrice").value
    const category =document.querySelector("#productCategory").value
    const stock =document.querySelector("#productStock").value
    socket.emit("register", {title,price,category,stock })
    Swal.fire({
      icon: 'success',
      title: '¡Producto Publicado!',
      text: 'Su producto fue publicado satisfactoriamente',
      timer: 3000, // Ocultar el mensaje después de 3 segundos
      timerProgressBar: true,
      showConfirmButton: false
    });
     
  })
document.addEventListener("DOMContentLoaded", function() {
  const currentCategory = new URLSearchParams(window.location.search).get('category') || 'todos';

  document.querySelectorAll('.nav-link').forEach(link => {
    link.classList.remove('active');
    if (link.textContent.trim().toLowerCase() === currentCategory.toLowerCase()) {
      link.classList.add('active');
    }
  });
});
  </script>