.image-upload-label {
    display: inline-block;
    cursor: pointer;
  }
  
  .image-upload-placeholder {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 24px;
    border-radius: 10px;
  }
  
  .img-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  button.m-1 {
    border-radius: 20px;
  }
  