.checkout-container {
  
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
}

.checkout-card {
  
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.checkout-summary p {
  font-size: 1.2rem;
  font-weight: 500;
}

.checkout-delivery-button {
  width: 45%;
  background-color: #F2D8A7 !important;
  border-color: #F2D8A7 !important;
  color: black !important;
}

.checkout-delivery-button:hover {
  background-color: #e6c08c !important;
  border-color: #e6c08c !important;
}

.progress-bar {
  background-color: #F2D8A7 !important;
}

.checkout-description {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #343a40;
}

.checkout-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.btn-custom {
  background-color: #F2D8A7 !important;
  border-color: #F2D8A7 !important;
  color: black !important;
}

.btn-custom:hover {
  background-color: #e6c08c !important;
  border-color: #e6c08c !important;
  color: black !important;
}
