
  .img-productos {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .item {
    background-color: gray;
    width: 100%;
  }


  .principal {
    height: 35vh;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
  }
  .partner-titulo {
    font-size: 90px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    text-align: center;
    
  }
  .partner-subtitulo {
    font-family: 'Times New Roman', serif; /* Establece la familia de fuentes (puedes usar cualquier fuente que desees) */
    font-style: italic;
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    margin: 0;
  }

  /*boton sobre la imagen para subir productos al carrito*/
  .card-image-wrapper {
    position: relative;
  }
  
  .add-to-cart-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2%;
  }
  
  
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .loading-container .spinner-border {
    width: 3rem;
    height: 3rem;
    color: #F2D8A7;
  }
  
  .loading-container p {
    margin-top: 10px;
    color: #333;
    font-size: 1.2rem;
  }
  