.custom-navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo transparente inicial */
    backdrop-filter: blur(10px); /* Aplicar efecto de desenfoque */
    transition: background-color 0.3s ease-in-out; /* Transición suave del color de fondo */
  }
  
 
  .custom-navbar .navbar-brand .logo {
    height: 40px; /* Ajusta la altura según tus necesidades */
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }
  