.hero-list {
    background-image: url('../../../public/img/fondo-lore.webp');
    background-size: cover;
    background-position: center;
    color: white;
    height: 40vh;
    
}
.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0.5rem;
}

@media screen and (min-width: 768px) {
    .item-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}